*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
}

.principal{
    height: 100%;
    display: flex;
    /* background: rgba(17, 17, 17, 0.718); */
    width: 100%;
    background: rgba(151, 232, 217, 0.366);
}

.principal .opciones{
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 100%;;
    border-right: 1px solid #ccc;
    /* justify-content: center; */
    align-items: center;
    background: rgba(8, 2, 42, 0.819);
    gap: 20px;
}

.principal .opciones h2{
    color: #27dde7;
}

.principal .opciones .farmacia{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.principal .opciones .farmacia img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.principal .opciones .perfil{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.principal .opciones .perfil img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.principal .opciones .almacen{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

select{
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.principal .opciones .almacen ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
}

.principal .opciones .almacen #productos{
    color: white;
}

.principal .opciones .almacen #productos:hover{
    background: #08a0b1;
    color: white;
}

.principal .opciones .almacen div{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    background: #1d5ea9ac;
    border-radius: 5px;
    cursor: pointer;
    gap: 10px;
}

.principal .opciones .almacen div a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}


.principal .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    height: 100%;
}

.container .navigation{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
    background: rgba(2, 11, 91, 0.879);
    height: 8%;
}
.container .navigation ul{
    list-style: none;
    display: flex;
    padding: 10px;
    margin-right: 20px;
    gap: 20px;
    text-decoration: none;
}

.container .navigation p{
    font-size: 1.2rem;
}

.container .navigation p a{
    text-decoration: none;
    color: rgb(250, 247, 247);
}

.container .navigation ul li{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.container .navigation ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.container .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #444450;
    width: 100%;
    height: 8%;
    border-top: 1px solid #ccc;

}

.container .footer p{
    color: white;
    font-size: 1.2rem;
}

.container .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;;
    height: 85%;
    overflow-y: auto;
}


.contaniner-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.contaniner-productos .tabla-productos{
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.contaniner-productos .tabla-productos th, td{
    padding: 10px;
    text-align: center;
    border: 1px solid #696666d0;
    border-radius: 3px;
}


.contaniner-productos .tabla-productos .btn_editar{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #12ce3e;
    color: white;
    cursor: pointer;
}
.contaniner-productos .tabla-productos .btn_eliminar{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #ee1616;
    cursor: pointer;
    color: white;
}




/* BUSCAR  */
.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
    gap: 10px;
    width: 400px;
    margin-top: 1.5rem;
}

.buscar input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.buscar button{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #4f9bf2;
    cursor: pointer;
}

#producto{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
}



.menu .formulario-agragar-prductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.901);
}

/* formulario  */
.menu .formulario-agragar-prductos form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
}
.menu .formulario-agragar-prductos form div input{
    padding: 5px;
    border-radius: 3px;
}

.menu .formulario-agragar-prductos form .botom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .formulario-agragar-prductos form  .btn_registrar{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #4f9bf2;
    cursor: pointer;
    width: 80px;
    text-align: center;
}







/* CARD DE PRODUCTOS  */
.menu .container-informacion-prod{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    width: 100%;
    height: 100%;
}

.menu .container-informacion-prod .container-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    /* height: 85%; */
}

.menu .container-informacion-prod .container-card .card-prod{
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 300px;
    border: 1px solid #7d8091;
    border-radius: 5px;
    background: rgba(255, 253, 253, 0.677);
    overflow-y: auto;
}

.menu .container-informacion-prod .card-prod .datos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    height: 80%;
}

.menu .container-informacion-prod .card-prod img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.menu .container-informacion-prod .buscar-2{
    padding: 15px;
    display: flex;
    background: rgb(6, 159, 6);
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.menu .container-informacion-prod .buscar-2 input{
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 80%;
}

.menu .container-informacion-prod .buscar-2 button{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #4f9bf2;
    cursor: pointer;
    color: white;
}



/* LOTES DE PRODUCTO  */

.menu .lotes{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 100%;
}

.menu .lotes .lotes-riesgo{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu .lotes .lotes-riesgo .titulo-lote{
    padding: 10px;
    border-radius: 4px;
    background: rgb(239, 22, 22);
}

.menu .lotes .lotes-riesgo .titulo-lote p{
    color: white;
}

.menu .lotes .lotes-riesgo table{
    width: 100%;
    border-collapse: collapse;
}

.menu .lotes .lotes-riesgo table th{
    padding: 5px;
    background: #7fe597;
}

.menu .lotes .lotes-riesgo table .btn_pedido{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #4f9bf2;
    cursor: pointer;
    color: white;
}

.menu .lotes .lotes-riesgo table .btn_desechar{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #f23832;
    cursor: pointer;
    color: white;
}

.menu .lotes .lotes-riesgo table .lote-vencido{
    background: rgb(247, 144, 144);
}

.menu .lotes .lotes-riesgo table .por-vencer{
    background: rgb(238, 246, 156);
}

.menu .lotes .lotes-riesgo table .lote-vigente{
    background: rgb(188, 243, 248);
}






/* FORMULARIO REGISTRO CLIENTE  */
.container-cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .container-cliente:hover {
    transform: translateY(-5px);
  }
  
  .container-cliente h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  }
  
  .container-cliente label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .container-cliente input[type="text"], .container-cliente input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .container-cliente button[type="submit"] {
    padding: 10px 20px;
    background-color: #5c3d8a;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .container-cliente button[type="submit"]:hover {
    background-color: #4a2f68;
  }





  /* ESTYLES PROCESO DE VENTA  */
  .container-venta {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Animaci贸n para el formulario */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

form {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}






/* Estilos para la factura */
.container-factura{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

.container-factura .titulo{
    padding: 20px;
    display: flex;
    background: #3689e8;
    align-items: center;
    justify-content: center;
}


.container-factura .titulo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container-factura .titulo h2{
    color: white;
}

.container-factura .main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #f7f9f9;
    width: 100%;
}

.container-factura .main .detalles-venta{
    display: flex;
    width: 100%;
    border-radius: 3px;
}

.container-factura .main .detalles-venta .detalles-cliente{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    border: 1px solid black;
    width: 50%;
}

.container-factura .main .detalles-venta .detalles-factura{
    display: flex;
    padding: 5px;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    width: 50%;
}

.container-factura .main .datos-producto{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
}

.container-factura .main .datos-producto table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 3px;
}

.container-factura .main  .pagos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
    background: rgb(229, 227, 227);
}


.buscar-venta{
    width: 97%;
    padding: 15px;
    display: flex;
    background: rgb(6, 159, 6);
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buscar-venta button{
    background: rgb(28, 139, 218);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}










/* Estilos generales */


h1, h2, h3 {
    font-weight: bold;
}



a:hover {
    color: #f00;
}

/* Estilos del header */

header {
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

header h1{
    color: #0abe9d;
}

.logo {
    float: left;
}

.logo img {
    width: 150px;
    border-radius: 50%;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

/* Estilos del banner */

.banner {
    position: relative;
    height: 300px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.texto-banner h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgba(9, 9, 127, 0.933);
}

.texto-banner p {
    font-size: 16px;
    color: rgb(12, 19, 36);
}

.texto-banner a {
    margin-top: 10px;
    background-color: #f00;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.texto-banner a:hover {
    background-color: #000;
}

/* Animaci贸n del banner */

.banner img {
    animation: fadein 2s ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Estilos de los servicios */

.servicios {
    background-color: #f5f5f5;
    padding: 20px;
}

.servicios ul {
    list-style: none;
    padding: 0;
}

.servicios ul li {
    float: left;
    width: 25%;
    padding: 10px;
    text-align: center;
}

.servicios ul li img {
    width: 120px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.servicios ul li h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.servicios ul li p {
    font-size: 14px;
}

/* Animaci贸n de los servicios */

.servicios ul li {
    animation: aparecer 1s ease-in-out;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos de los testimonios */

.testimonios {
    background-color: #f0f0f0;
    padding: 20px;
}

.testimonios ul {
    list-style: none;
    padding: 0;
}

.testimonios ul li {
    float: left;
    width: 50%;
    padding: 10px;
}

.testimonios ul li blockquote {
    font-style: italic;
    border-left: 5px solid #f00;
    padding: 10px;
}

.testimonios ul li p {
    text-align: right;
    font-style: italic;
}

/* Animaci贸n de los testimonios */

.testimonios ul li {
    animation: aparecer 1s ease-in-out;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
